.todo-item {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;

  .check-circle {
    color: rgb(0, 133, 0);
    margin-left: 10px;
    opacity: 0.8;
  }

  .circle {
    color: rgb(88, 88, 88);
    margin-left: 10px;
  }

  .x-circle {
    color: red;
    margin-right: 10px;
    opacity: 0.4;
    transition: opacity 200ms;

    &:hover {
      opacity: 1;
    }
  }

  .completed {
    margin: 5px 20px;
    width: 80%;
    text-decoration: line-through;
    opacity: 0.4;
    font-size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;    
  }

  .not-completed {
    margin: 5px 20px;
    width: 80%;
    font-size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    
  }
}

.item-wrapper {
  hr {
    opacity: 0.4;    
  }
}
